<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859934445459-fvdbdp17s88614ilu36qe1na14gv2v27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859934445459-fvdbdp17s88614ilu36qe1na14gv2v27</string>
	<key>API_KEY</key>
	<string>AIzaSyCDSWft1HiPz_scikc5EMfMDtzqy1Rexjk</string>
	<key>GCM_SENDER_ID</key>
	<string>859934445459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alfie.Pomodoro</string>
	<key>PROJECT_ID</key>
	<string>focus-a1b75</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-a1b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859934445459:ios:f6d252a943b1b7b8baa266</string>
</dict>
</plist>